<div class="errorBox" style="display: none;">{{ error }}</div>

{{input value=title placeholder='Title..' required=true class='form-title'}}

{{input value=description placeholder='Description..' required=true class='form-description'}}

{{input value=image placeholder='Image url..' required=true class='form-image-url'}}

<div class="ratingField">
    <label>Rating:</label>
    <select id="ratingSelectBox" onchange={{action (mut selectedRating) value='target.value'}}>
    {{#each options as |option|}}
        <option value={{option}}>{{option}}</option>
    {{/each}}
    </select>
</div>

<button type="submit">{{#if editMode }}Save Changes {{else}} Add Movie{{/if}} </button>